.profil img{
    max-height: 62px;
    max-width: 62px;
}
main p{
    text-decoration-line: underline;
    font-size: calc(0.375rem + 1.0vw);
    font-weight: 900;
}
main label{
    font-size: calc(0.375rem + 0.5vw);
    margin-bottom: 0;
}
main h4{
    font-weight: 600;
}
.image{
    width: 24px;
    height: 24px;
}
.close{
    width: 100%;
    line-height: 200%;
    color: white;
    font-weight: inherit;
    background: #0A9E07;
    border-radius: 5px;
    border: 0;
    margin: 20px 0 10px 0;
}
.close:hover {
    background-color: #0A7C07;
    color: #FFFFFF;
}
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #666;
    box-sizing: border-box;
}
input[type=file]{
    width: 100%;
    padding: 12px 0;
    display: inline-block;
    box-sizing: border-box;
}