main{
    width: 100%;
    height: revert;
}
input{
    font-size: calc(0.575rem + 0.5vw);
    line-height: 170%;

    border-radius: 5px;
    background-color: rgba(32, 35, 40, 0);
}
textarea{
    margin: 12px auto;
    width: 100%;
    color: white;
    font-size: calc(0.575rem + 0.5vw);
    line-height: 170%;

    border-radius: 5px;
    background-color: rgba(32, 35, 40, 0);

}
input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #666;
    box-sizing: border-box;
}

.map{
    border-radius: 5px;
}
