main{
    width: 100%;
    height: revert;
}
input{
    width: 100%;
    font-size: calc(0.575rem + 0.5vw);
    line-height: 170%;
    border-radius: 5px;
}
textarea{
    width: 100%;
    font-size: calc(0.575rem + 0.5vw);
    line-height: 170%;
    border-radius: 5px;
    border: 1px solid #cdcdcd;
    resize: none;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
}
input[type=button]{
    color: #FFFFFF;
    border: none;
    background-color: #cdcdcd;
}
input[type=button]:hover{
    color: #FFFFFF;
    border: none;
    background-color: #0A9E07;
}
input[type=button].active, input[type=submit]:hover{
    background-color: #0A7C07;
}
input[type=submit]{
    width: 60%;
    color: #FFFFFF;
    border: none;
    background-color: #0A9E07;
}

h6{
    font-size: calc(0.575rem + 0.2vw);
}
.dropdown-toggle{
    width: 100%;
    border-style: none;
    background-color: #0A9E07;
    color: #FFFFFF;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    padding-left: 30px;
}
.dropdown-item label {
    font-weight: normal;
}
.choice{
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.cooridnates input[type=text]{
width: 96%;
}
.point{
    width: 99.3%;
}
.point p{
    font-size: calc(1.075rem + 0.5vw);
}
button{
    border-radius: 5px;
}
.add{
    border: 1px solid #cdcdcd;
    background-color: #FFFFFF;
    width: 40px;
}
.map{
    border-radius: 5px;
    height: 500px;
}
.points{
    overflow: auto;
    max-height: 600px;
    border-radius: 5px;
}
.points::-webkit-scrollbar{
    width: 4px;               /* ширина scrollbar */
}
.points::-webkit-scrollbar-track{
    background-color: #e8e8e8;
    height: 10px;
}
.points::-webkit-scrollbar-thumb {
    background-color: #0A9E07;  /* закругления плашки */
}
.points::-webkit-scrollbar-thumb:hover{
    background-color: #0A7C07;  /* закругления плашки */
}