html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body{
    background-color: #171A1A;
    background-image: url("../img/starter_bg.png");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */

    font-family: 'Raleway', sans-serif; /*Шрифт*/
    color: white;
    font-weight: 300;
}
.container{
    height: auto;
}
/*-----| Header |-----*/
header{
    margin-top: 50px;
    margin-bottom: 8%;
}
header .custom-navbar a{
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    margin: 0 0.5%;
}
header .custom-navbar a:hover {
    cursor: pointer;
    color: white;
    background: rgba(196, 196, 196, 0.2);
}
header .custom-navbar a.active{
    pointer-events: none;
    background: rgba(196, 196, 196, 0.2);
}

/*-----| Main |-----*/
h1{
    font-size: calc(1.375rem + 2.0vw);
    font-weight: 100;
}
h5{
    background-color: #0A9E07;
    border-radius: 5px;
    font-size: calc(0.575rem + 0.65vw);

    width: fit-content;
    padding: 0.5% 5%;
}
main p{
    background: rgba(32, 35, 40, 0.9);
    border-radius: 5px;
    font-size: calc(0.575rem + 0.45vw);
    font-weight: 400;

    width: 60%;
}
main .custom-navbar a{
    background-color: #0A9E07;
    border-radius: 5px;

    font-size: calc(0.575rem + 0.5vw);
    color: white;
}
main .custom-navbar a:hover {
    background: #0A7C07;
    color: white;
}

/*-----| Footer |-----*/
footer{
    font-size: calc(0.575rem + 0.5vw);
}
h4{
    font-weight: 900;
    font-size: calc(0.575rem + 0.75vw);
    letter-spacing: 1px;
}
hr{
    background: #0A9E07;
    border-radius: 0 5px;

    padding: 2px;
    width: calc(1.375rem + 2.0vw);
}
footer p{
    font-weight: 100;
}
footer ul{
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
footer li{
    line-height: 180%;
}
footer a{
    font-weight: 100;
    display: inline-block;

    color: white;
    text-decoration: none;
    text-align: center;
}
footer a:hover{
    text-decoration-line: underline;
    color: #0A9E07;
}