.vr{
    background-color: #0A9E07;
    width: 4px;
    height: 42px;
    opacity: 1;
}
h5{
    font-weight: 900;
}
.photo{
    width: 100%;
    border-radius: 5px;
}
.main_photo{
    border-radius: 5px;
    height: fit-content;
}
.main_photo img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 5px;
    background-color: #0A7C07;
}
.other_photo{
    overflow: auto;
    height: 290px;
}
figure{
    height: min-content;
}
.minor_photo{
    float: left; /* Выстраиваем элементы по горизонтали */
    background: #f0f0f0; /* Цвет фона */
    border-radius: 5px; /* Радиус скругления */
    margin-bottom: 4px;
}
.minor_photo img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 5px;
}

.other_photo::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
}
.other_photo::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    height: 10px;
}
.other_photo::-webkit-scrollbar-thumb {
    background-color: #0A9E07;  /* закругления плашки */
}
.other_photo::-webkit-scrollbar-thumb:hover {
    background-color: #0A7C07;  /* закругления плашки */
}

.name{
    font-weight: 900;
    text-decoration-line: underline;
}
.info{
    height: fit-content;
    border-radius: 5px;
}
.routes{
}
.circle{
    width: 12px;
    height: 12px;
    border-radius: 25px;
    background: #0A9E07;
}
.map{
}
.reviews h5{
    background-color: #0A9E07;
    border-radius: 5px;
    font-size: calc(0.575rem + 0.65vw);
    color: #FFFFFF;
    font-weight: 300;
}
.review{
    border-radius: 5px;
}

.edit{
    background-color: #0A9E07;
    color: #FFFFFF;
    text-decoration-line: none;
    border-radius: 5px;
}
.edit:hover{ background-color: #0A7C07; color: #FFFFFF;cursor: pointer;}

.p {
    font-weight: 900;
    color: black;
}.profil img{
     max-height: 62px;
     max-width: 62px;
 }
.coord{
     font-weight: 100;
     font-size: calc(0.575rem + 0.35vw);
    font-family: Amiri, sans-serif;
}
button[type=submit]{
    background: #0A9E07;
    border-radius: 5px;
    color: #FFFFFF;
    border-style: none;
}
button[type=submit]:hover{
    background: #0A7C07;
}
.points{
    overflow: auto;
}
.points::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
    height: 8px;
}
.points::-webkit-scrollbar-track { /* фон */
    background-color: rgba(232,232,232,0.2);
}
.points::-webkit-scrollbar-thumb {
    background-color: #0A9E07;    /* цвет плашки */
    border-radius: 4px;     /* закругления плашки */
}