<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Обязательные метатеги -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>О проекте</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;600;900&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style/about.css" th:href="@{../static/style/about.css}">
  <link rel="stylesheet" type="text/css" href="../static/style/header_common.css" th:href="@{../static/style/header_common.css}">
  <link rel="stylesheet" type="text/css" href="../static/style/common.css" th:href="@{../static/style/common.css}">
</head>
<body>
<div id="up"></div>
<header  class="container-fluid shadow p-3 mb-5 bg-body">
  <div class="container">
    <nav class="navbar custom-navbar flex-column flex-sm-row">
      <a class="flex-fill text-center nav-link" href="/home">Главная</a>
      <a class="flex-fill text-center nav-link" href="/routes">Маршруты</a>
      <a class="flex-fill text-center nav-link" href="/editor/create">Добавить свой маршрут</a>
      <a class="flex-fill text-center nav-link" href="/account">Личный кабинет</a>
      <a class="flex-fill text-center nav-link active" aria-current="page" href="/about">О проекте</a>
    </nav>
  </div>
</header>
<main class="container mb-5">
  <h2 class="d-flex justify-content-center mb-4" style="font-weight: 900">Наши преимущества</h2>

  <h4>Возможность поиска маршрутов и достопримечательностей рядом с вашим текущим местоположением пользователя </h4>
  <p class="mb-4">Путешественникам эта функция может помочь максимально эффективно провести время в новом месте, предоставляя им персонализированные рекомендации и информацию в режиме реального времени. Возможность поиска маршрутов и достопримечательностей вблизи текущего местоположения пользователя является мощной функцией, которая улучшает качество путешествий, предоставляя пользователям актуальную и своевременную информацию.</p>

  <h4>Большой список достопримечательностей и туристических маршрутов</h4>
  <p class="mb-4">Большой список достопримечательностей и туристических маршрутов служит исчерпывающим руководством для путешественников, стремящихся исследовать конкретное место назначения. Список достопримечательностей и туристических маршрутов является ценным ресурсом для любого, кто планирует путешествие, помогая ему принимать обоснованные решения, экономить время и деньги и создавать незабываемые воспоминания.</p>

  <h4>Возможность составлять свои маршруты и загружать их сайт</h4>
  <p class="mb-4">Возможность создавать свои собственные маршруты и загружать свой веб-сайт в Интернет дает вам возможность делиться своими идеями и контентом со всем миром.</p>

  <h4>Возможность выбирать на сайте маршруты, составленные другими пользователями</h4>
  <p class="mb-4">Возможность выбирать маршруты, составленные другими пользователями сайта, улучшает пользовательский опыт, упростив и повысив эффективность навигации и поиска контента. Эта функция может быть особенно полезна на веб-сайтах с большим объемом контента или сложными навигационными системами.</p>

  <h4>Рейтинговая система маршрутов</h4>
  <p class="mb-4">Система рейтинга маршрутов является ценной функцией, которая может улучшить пользовательский опыт на веб-сайте, предоставляя полезную обратную связь о качестве и эффективности предварительно составленных маршрутов.</p>

</main>
<footer class="container-fluid p-0" style="background-color: #171A1A;">
  <div id="footer" class="container overflow-hidden" style="padding-top: 2%">
    <script>
      fetch('../static/html/footer.html')
              .then(response => response.text())
              .then(data => document.getElementById('footer').innerHTML = data);
    </script>
  </div>
</footer>
</body>
</html>