<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <!-- Обязательные метатеги -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${route.getName()}">Маршруты</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;900&display=swap" rel="stylesheet">

  <script src="https://api-maps.yandex.ru/2.1/?apikey=a6743776-fded-4335-995e-e61a3768858c&lang=ru_RU" type="text/javascript"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style/common.css" th:href="@{../static/style/common.css}">
  <link rel="stylesheet" type="text/css" href="../static/style/header_common.css" th:href="@{../static/style/header_common.css}">
  <link rel="stylesheet" type="text/css" href="../static/style/rout_card.css" th:href="@{../static/style/rout_card.css}">
  <link media="print" rel="stylesheet" href="../static/style/print.css">

</head>
<body>
<div id="up"></div>
<header  class="container-fluid shadow p-3 bg-body">
  <div class="container">
    <nav class="navbar custom-navbar flex-column flex-sm-row">
      <a class="flex-fill text-center nav-link" href="/home">Главная</a>
      <a class="flex-fill text-center nav-link active" aria-current="page" href="/routes">Маршруты</a>
      <a class="flex-fill text-center nav-link" href="/editor/create">Добавить свой маршрут</a>
      <a class="flex-fill text-center nav-link" href="/account">Личный кабинет</a>
      <a class="flex-fill text-center nav-link" href="/about">О проекте</a>
    </nav>
  </div>
</header>

<main class="container">
  <div class="d-flex mt-5 mb-2">
    <vr class="vr"></vr>
    <h5 class="card-title align-self-center ms-3" th:text="${route.getName()}">Название маршрута*</h5>
  </div>

  <script>
    var myModal = new bootstrap.Modal(document.getElementById('minor_photo'), {
      keyboard: false
    })
  </script>
  <div class="photo d-flex mb-3 border p-1">
    <figure class="main_photo col-5">
      <a>
        <img th:if="${route.getImageName() == null}" src="../static/img/temp_main_photo.jpg" alt="ALT">
        <img th:if="${route.getImageName() != null}" src="../static/img/temp_main_photo.jpg" th:src="'/img/' + ${route.getImageName()}" alt="ALT">
      </a>
    </figure>
    <div th:if="${route.getAddImages() == null}" class="other_photo col-7 row row-cols-3" style="--bs-gutter-x: 0">
      <figure class="col minor_photo ms-2"><img src="../static/img/temp_ph1.webp" alt="Фото"></figure>
      <figure class="col minor_photo ms-2"><img src="../static/img/temp_ph2.webp" alt="Фото"></figure>
      <!--      <figure class=""col minor_photo ms-2 mb-1"><img src="../static/img/fon.jpg" alt="Фото"></figure>-->
    </div>
    <div th:if="${route.getAddImages() != null}" class="other_photo col-7 row row-cols-3" style="--bs-gutter-x: 0">
      <div th:each="item : ${route.getAddImages()}">
        <figure class="col minor_photo ms-2"><img th:src="'/img/' + ${item}" alt="Фото" src="../static/img/temp_ph1.webp"></figure>
      </div>
      <!--      <figure class=""col minor_photo ms-2 mb-1"><img src="../static/img/fon.jpg" alt="Фото"></figure>-->
    </div>

  </div>

  <div class="border info p-2">
    <div class="mb-2">
      <div class="d-flex justify-content-between profil mt-4 ms-4" >
        <p class="name align-self-center mb-0" th:text="'Автор: '+${route.getAuthor().getUsername()}">Имя пользователя</p>
        <p class="hour align-self-center mb-0" th:text="${route.getPoints().size()}">Кол-во часов</p>
        <div class="align-self-center ">
          <img class="me-3" src="../static/img/heart.png" style="width: 32px; height: 32px">
          <img src="../static/img/share.png" style="width: 32px; height: 32px">
        </div>
      </div>
    </div>

    <p class="comment text-break m-4" th:text="${route.getDescription()}">
      Не следует, однако забывать, что новая модель организационной деятельности позволяет выполнять важные задания по разработке новых предложений. Товарищи! новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
    </p>
  </div>
  <div class="routes row my-4" style="--bs-gutter-x: 0">
    <div class="col-4 points">
      <h4 class="ms-2">Список мест</h4>
      <hr class="ms-2 mt-0" style="width: 36%;">

      <div th:each="item : ${route.getPoints()}">
        <div class="point d-flex ">
          <div class="circle m-2"></div>
          <p class="m-0 align-self-center" th:text="${item.getStr()}">Точка</p>
        </div>
      </div>

    </div>
    <div class="col-8 map" id="map" style="background-color: #666666"></div>
    <script type="text/javascript" th:inline="javascript">
      ymaps.ready(init);
      function init(){
        var myMap = new ymaps.Map("map", {
          center: [56.844376, 60.609048],
          zoom: 12
        });

        const jsList = [];
        [[${texts}]].forEach(function(item) {
          console.log(item)
          var splited = item.split('|');
          if (splited.length === 1) jsList.push(splited[0]);
          else jsList.push([parseFloat(splited[0]), parseFloat(splited[1])])
        });

        jsList.forEach(item => console.log(item));

        var route = ymaps.route(jsList, {
          mapStateAutoApply: true
        });

        route.then(function (route) {
          myMap.geoObjects.add(route);
          route.options.set({
            routingMode: 'pedestrian'
          });
        });

      }
    </script>
  </div>

  <div class="reviews mb-4">
    <h5 class="my-2 mx-4" >Отзывы</h5>

<!--    ПЕРЕДЕЛАТЬ-->
    <div class="review border mb-2">
      <div class="d-flex profil mt-4 ms-4">
        <img th:if="${logUser.getPhoto() == null}" src="../static/img/person.jpg" class="img-fluid rounded-pill" alt="photo" style="align-content: center ">
        <img th:if="${logUser.getPhoto() != null}" th:src="'/img/' + ${logUser.getPhoto()}" class="img-fluid rounded-pill" alt="photo" style="align-content: center ">
        <p class="name mx-2 mt-3" th:text="${logUser.getUsername()}"></p>
      </div>
      <div class="text mt-2 ms-4 mb-4 me-4">
        <form method="post" th:action="'/routes/'+${route.getId()}">
          <div>
            <textarea rows="4" cols="150" style="height: 150px; width: 100%" name="comment_text"></textarea>
          </div>
          <div>
            <button class="flex-fill text-center nav-link active" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>

    <div class="review border mb-2" th:each="comment : ${comments}">
      <div class="d-flex profil mt-4 ms-4">

        <img th:if="${comment.getAuthor().getPhoto() != null}" th:src="'/img/' + ${comment.getAuthor().getPhoto()}" src="../static/img/person.jpg" class="img-fluid rounded-pill" alt="photo" style="align-content: center ">
        <img th:if="${comment.getAuthor().getPhoto() == null}" src="../static/img/person.jpg" class="img-fluid rounded-pill" alt="photo" style="align-content: center ">

        <p class="name mx-2 mt-3" th:text="${comment.getAuthor().getUsername()}">Имя пользователя</p>
      </div>
      <div class="text mt-2 ms-4 mb-4 me-4" th:text="${comment.getText()}">
        <p>Идейные соображения высшего порядка, а также реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также укрепление и развитие структуры представляет собой интересный эксперимент проверки модели развития.</p>
      </div>
    </div>
  </div>
</main>

<footer class="container-fluid p-0" style="background-color: #171A1A;">
  <div id="footer" class="container overflow-hidden" style="padding-top: 2%">
    <script>
      fetch('../static/html/footer.html')
              .then(response => response.text())
              .then(data => document.getElementById('footer').innerHTML = data);
    </script>
  </div>
</footer>
</body>
</html>