<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маршрут</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;900&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/style/common.css" th:href="@{../static/style/common.css}">
    <link rel="stylesheet" type="text/css" href="../static/style/header_common.css"
          th:href="@{../static/style/header_common.css}">
    <link rel="stylesheet" type="text/css" href="../static/style/routes.css" th:href="@{../static/style/routes.css}">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<div id="up"></div>
<header class="container-fluid shadow p-3 bg-body">
    <div class="container">
        <nav class="navbar custom-navbar flex-column flex-sm-row">
            <a class="flex-fill text-center nav-link" href="/home">Главная</a>
            <a class="flex-fill text-center nav-link active" aria-current="page" href="/routes">Маршруты</a>
            <a class="flex-fill text-center nav-link" href="/editor/create">Добавить свой маршрут</a>
            <a class="flex-fill text-center nav-link" href="/account">Личный кабинет</a>
            <a class="flex-fill text-center nav-link" href="/about">О проекте</a>
        </nav>
    </div>
</header>

<main class="container">
    <!--    Карусель-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button th:each="item, iterStat : ${topRated}"
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    th:data-bs-slide-to="${iterStat.index}"
                    th:class="${iterStat.index == 0 ? 'active' : ''}"
                    th:aria-current="${iterStat.index == 0 ? 'true' : ''}"
                    th:aria-label="${'Slide '+iterStat.index + 1}"
            ></button>
        </div>
        <div class="carousel-inner" style="border-radius: 5px">

            <div th:each="item, iterStat : ${topRated}"
                 th:class="${iterStat.index == 0 ? 'carousel-item active' : 'carousel-item'}">
                <div class="img_wrap">
                    <img th:src="${item.getImageName() == null ? '../static/img/starter_bg.png' : '/img/' + item.getImageName()}" src="../static/img/fon.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${item.getName()}">Метка первого слайда</h5>
                    <p th:text="${item.getShortDescription()}">Некоторый репрезентативный заполнитель для первого слайда.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>
    </div>

    <div class="search container-fluid d-flex justify-content-end my-4 p-0">
        <form class="d-flex justify-content-end">
            <input class="form-control me-2" type="search" placeholder="Введите название маршрута" aria-label="Поиск">
            <button class="px-4" type="submit">Поиск</button>
        </form>
    </div>

    <!--    Фильтры   -->
    <div class="row mt-4 mb-3">
        <div class="col">
            <div class="dropdown d-flex justify-content-start">
                <button class="btn" type="button" id="dropdownType" data-bs-toggle="dropdown" aria-expanded="false">
                    Кому подойдет маршрут?
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownType">
                    <li><a class="dropdown-item" href="#">-Всем-</a></li>
                    <li><a class="dropdown-item" href="#">Искателям приключений</a></li>
                    <!--            <li><a class="dropdown-item" href="#">Любителям природы и живописных пейзажей</a></li>-->
                    <li><a class="dropdown-item" href="#">Любителям истории</a></li>
                    <!--            <li><a class="dropdown-item" href="#">Любителям неторопливых прогулок</a></li>-->
                    <li><a class="dropdown-item" href="#">Одиноким путешественникам</a></li>
                    <!--            <li><a class="dropdown-item" href="#">Велосипедистам</a></li>-->
                    <!--            <li><a class="dropdown-item" href="#">Семьям с маленькими детьми</a></li>-->
                    <li><a class="dropdown-item" href="#">Ищущим романтический отдых</a></li>
                    <!--            <li><a class="dropdown-item" href="#">Гурманам</a></li>-->
                    <!--            <li><a class="dropdown-item" href="#">Желающим сбежать от городского шума и суеты</a></li>-->
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="dropdown d-flex justify-content-center">
                <button class="btn" type="button" id="dropdownCol" data-bs-toggle="dropdown" aria-expanded="false">
                    Количество комментариев
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownCol">
                    <li><a class="dropdown-item" href="#">Игнорировать</a></li>
                    <li><a class="dropdown-item" href="#">По возрастанию</a></li>
                    <li><a class="dropdown-item" href="#">По убыванию</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="dropdown d-flex justify-content-center">
                <button class="btn" type="button" id="dropdownRating" data-bs-toggle="dropdown" aria-expanded="false">
                    Рейтинг
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownRating">
                    <li><a class="dropdown-item" href="#">Игнорировать</a></li>
                    <li><a class="dropdown-item" href="#">Без комментариев</a></li>
                    <li><a class="dropdown-item" href="#">Менее 10 комментариев</a></li>
                    <li><a class="dropdown-item" href="#">От 10 до 20 комментариев</a></li>
                    <li><a class="dropdown-item" href="#">Более 20 комментариев</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="dropdown d-flex justify-content-end">
                <button class="btn" type="button" id="dropdownDay" data-bs-toggle="dropdown" aria-expanded="false">
                    Кол-во просмотров
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownDay">
                    <li><a class="dropdown-item" href="#">Игнорировать</a></li>
                    <li><a class="dropdown-item" href="#">За день</a></li>
                    <li><a class="dropdown-item" href="#">За неделю</a></li>
                    <li><a class="dropdown-item" href="#">За месяц</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--    Карточки-->
    <div class="row row-cols-2 row-cols-sm-1 justify-content-between" style="--bs-gutter-x:0;">
        <div class="card col my-3" th:each="item : ${routes}">
            <div class="card_img m-3">
                <img th:src="${item.getImageName() == null ? '../static/img/starter_bg.png' : '/img/' + item.getImageName()}" src="../static/img/starter_bg.png" class="card-img-top">
            </div>
            <div class="card-body">
                <div class="d-flex mb-2">
                    <vr class="vr"></vr>
                    <h5 class="card-title align-self-start ms-3" th:text="${item.getName()}">Название маршрута*</h5>
                </div>
                <div class="mb-2">
                    <p class="card-text ms-3" th:text="${item.getShortDescription()}">Небольшой пример текста, который
                        должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                </div>
                <a th:href="'/routes/'+${item.getId()}" class="ms-3">К маршруту</a>
            </div>
        </div>
    </div>
</main>

<footer class="container-fluid p-0" style="background-color: #171A1A;">
    <div id="footer" class="container overflow-hidden" style="padding-top: 2%">
        <script>
            fetch('../static/html/footer.html')
                .then(response => response.text())
                .then(data => document.getElementById('footer').innerHTML = data);
        </script>
    </div>
</footer>
</body>
</html>