<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEMP ROUTE EDITOR</title>
    <script src="../static/script/addInput.js" th:inline="javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a6743776-fded-4335-995e-e61a3768858c&lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<div>TEMP ROUTE EDITOR</div>
<form id="route_configurator" action="/editor/create" th:action="@{/editor/create}" method="post">
    <div>
        <input type="text" placeholder="название" name="name" id="name"/>
    </div>
    <div>
        <input type="text" placeholder="краткое описание" name="short_description" id="short_description">
    </div>
    <div>
        <input type="text" placeholder="описание" name="description" id="description">
    </div>
    <div>
        <button type="button" onclick="addPointCoords()">добавить точку по координатам</button>
        <button type="button" onclick="addPointName()">добавить точку по названию</button>
        <button type="button" onclick="addPointName()">выбрать точку</button>
    </div>
    <input type="submit" value="создать">
</form>

<div th:if="${points}" th:each="item : ${points}">
    <span th:text="${item.getLatitude()}"></span>
    <span th:text="${item.getLongitude()}"></span>
    <span th:text="${item.getTextRepresent()}"></span>
</div>

<div th:text="${message}"></div>

</body>
</html>