<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEMP ROUTE CARD</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=a6743776-fded-4335-995e-e61a3768858c&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div>TEMP ROUTE CARD</div>

<div th:if="${route}">
    <p th:text="${route.getName()}"></p>
    <p th:text="${route.getDescription()}"></p>
    <p th:text="${route.getRating()}"></p>
    <p th:text="${route.getAuthor().getUsername()}"></p>
</div>

<div>
    <div id="map" style="width: 50%; height: 400px;"></div>
    <script type="text/javascript" th:inline="javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [56.844376, 60.609048],
                zoom: 12
            });

            const jsList = [];
            [[${texts}]].forEach(function(item) {
                console.log(item)
                var splited = item.split('|');
                if (splited.length === 1) jsList.push(splited[0]);
                else jsList.push([parseFloat(splited[0]), parseFloat(splited[1])])
            });

            jsList.forEach(item => console.log(item));

            ymaps.route(jsList).then(function (route) {
                myMap.geoObjects.add(route);
            }, function (error) {
                alert("Возникла ошибка: " + error.message);
            });
        }
    </script>
</div>

</body>
</html>